<% provide(:title, "Leaderboard") %>
<div class="message-list">
  <% @messages.each_with_index do |message, index| %>
    <div><b><%= index + 1 %></b></div>
    <%= render 'message_item', message: message %>
  <% end %>
</div>
