<li class="reply"><%= render 'statuses/article_listing', article: article %></li>
<% if article.replies.count>0 %>
	<ul class="reply-thread">
		<% article.replies.each do |reply| %>
			<%= render 'statuses/reply_below', article: reply %>
		<% end %>
	</ul>
<% end %>