<div class="preface">
	<% if @drawing.title %>
		<h2 class="heading"><%= @drawing.title %></h2>
	<% end %>
	<h3 class="byline"><%= @drawing.user.name %></h3>
	<div class="complentary">
		<h3 class="heading">Caption</h3>
		<blockquote class="user-summary">
			<p><%= @drawing.caption %></p>
		</blockquote>
	</div>
</div>
<%= image_tag @drawing.drawing.url, class: "normal-display" %>