<ul class="actions" role="navigation">
	<li><%= nav_item 'Preferences', preferences_user_path(@user) %></li>
	<li><%= nav_item 'Edit profile', edit_user_path(@user) %></li>
	<li><%= nav_item 'Change icon', change_icon_user_path(@user) %></li>
	<li><%= nav_item 'Change password', change_password_user_path(@user) %></li>
</ul>