<% content_for :title, "Adult content" %>
<%= render 'shared/itemprop' %>
<p class="caution">This work could have adult content. If you proceed you have agreed that you are willing to see such content.</p>
<ul class="actions" role="navigation">
	<li>
		<%= link_to "Proceed", view_adult: true %>
	</li>
	<li>
		<%= link_to "Go Back", "javascript:history.back()" %>
	</li>
</ul>