<div class="info-wrapper">
	<div class="info-display">
		<ul>
			<li>
				<div class="info-label">Rating:</div>
				<div class="info">
					<%= rating_display %>
				</div>
			</li>
			<%= render 'shared/tag_list' %>
			<li>
				<div class="info-label">Stats:</div>
				<div class="info">
					<%= render 'shared/stats_display' %>
				</div>
			</li>
		</ul>
	</div>
</div>