<div class="preface">
	<% if @work.title %>
		<h2 class="heading"><%= @work.title %></h2>
	<% end %>
	<h3 class="byline"><%= author_link @work %></h3>
	<div class="complentary">
		<% unless @work.send(preface_name).empty? %>
			<h3 class="heading"><%= preface_name.humanize %>:</h3>
			<blockquote class="user-summary">
				<%= simple_format sanitize @work.send(preface_name), tags: %w(strong em a), attributes: %w(href) %>
			</blockquote>
		<% end %>
		<% if @work.authorship == "scanlation" %>
			<h3 class="heading">Note:</h3>
			<blockquote class="user-summary">
				<p>This is a translation.

				<p>If you would like to chat, join the <a href="https://discord.gg/37aztWz">Discord server</a>.</p>
			</blockquote>
		<% end %>
	</div>
</div>