<div class="preface">
	<% if @work.title %>
		<h2 class="heading"><%= @work.title %></h2>
	<% end %>
	<h3 class="byline"><%= author_link %></h3>
	<div class="complentary">
	<% unless @work.send(preface_name).empty? %>
		<h3 class="heading"><%= preface_name.humanize %>:</h3>
		<blockquote class="user-summary">
			<p><%= @work.send(preface_name) %></p>
		</blockquote>
	<% end %>
	<% if @work.class == Comic && @work.authorship == "scanlation" %>
		<h3 class="heading">Note:</h3>
		<blockquote class="user-summary">
			<p>This is a scanlation and therefore was not submitted by the author of this work.</p>
		</blockquote>
	</div>
</div>