<div class="preface">
	<% if @work.title %>
		<h2 class="heading"><%= @work.title %></h2>
	<% end %>
	<h3 class="byline"><%= author_link @work %></h3>
	<div class="complentary">
		<% unless @work.send(preface_name).empty? %>
			<h3 class="heading"><%= preface_name.humanize %>:</h3>
			<blockquote class="user-summary">
				<p><%= @work.send(preface_name) %></p>
			</blockquote>
		<% end %>
		<% if @work.authorship == "scanlation" %>
			<h3 class="heading">Note:</h3>
			<blockquote class="user-summary">
				<p>This is a translation or a repost from another website and therefore was not submitted by the author of this work. By the way, if you liked this work, be sure to give a kudos and leave a comment here at the end of this page!</p>
			</blockquote>
		<% end %>
	</div>
</div>