<ul class="stats">
	<li>Published: <%= published_display(@work) %></li>
	<% if @work.class::HAS_PAGES && @work.page_addition > @work.created_at + 1.day %>
		<li><%= updated_or_completed %>: <%= updated_display(@work) %></li>
	<% end %>
	<%= render 'shared/basic_stats', work: @work %>
</ul>