<li>
	<figure class="work_thumbnail">
		<p><%= link_to (image_tag thumbnail_image(work), class: evaluate_adult(work)), work, class: "image-link" %></p>
		<figcaption>
			<ul>
				<li class="title"><%= link_to work.title, work, class: "thumbnail-title title-link" %></li>
				<% unless controller_name == 'users' %>
					<li class="author"><%= author_link work %></li>
				<% end %>
			</ul>
		</figcaption>
	</figure>
</li>