<% provide(:title, "About") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<h2 class="heading">About fancomics.org</h2>
<div class="explanation">
	<p>This website is started in order to provide an archive website for fancomics in the same manner as <%= link_to "https://archiveofourown.org", "Archive of Our Own" %>. It is meant to be a companion website to Archive of Our Own and therefore aims to operate under the same foundational principles of protecting and defending fanworks from commercial exploitation and legal challenge.</p>

	<p>Fancomics offers a noncommercial and nonprofit central hosting place for fanworks using open-source archiving software.</p>
</div>