<% provide(:title, "About") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<h2 class="heading">About fancomics.org</h2>
<div class="explanation">
	<p>This is a website dedicated to fancomics, both scanlations as well as our own works. It is also dedicated to our own fanart.</p>

	<p>Original work is also welcome on this website. If you are submitting original work, write "Original" as the fandom that the work belongs to.</p>
</div>