<% provide(:title, "About") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<h2 class="heading">Contact info</h2>
<div class="explanation">
	<p>Tosiaki may be found at:</p>
	<ul>
		<li><a href="https://twitter.com/Tosiaki1">Tosiaki's Twitter account</a></li>
		<li><a href="https://discord.gg/37aztWz">This site's discord server</a></li>
	</ul>
</div>
<h2 class="heading">Upcoming features</h2>
<div class="explanation">
	<p>Features that are in gray are only "maybes" as of now.</p>
	<ul>
		<li>Ability to view all pages at once</li>
		<li>A "see more" link feature</li>
		<li>Music and video</li>
		<li class="maybe">Browser game hosting</li>
		<li class="maybe">Downloadable game hosting</li>
		<li class="maybe">Live streaming</li>
		<li>Status posting without page refresh (ajax status posting)</li>
		<li>Comments pagination</li>
		<li>Ability to create lists of posts</li>
		<li class="maybe">User groups/communities</li>
		<li class="maybe">Side profiles from one account</li>
		<li class="maybe">Post scheduling</li>
		<li class="maybe">Saving posts as drafts</li>
		<li class="maybe">See more/recommended lists from each post</li>
		<li class="maybe">Mobile app</li>
		<li class="maybe">Tag cloud page</li>
		<li class="maybe">Infinite scrolling on the front page</li>
		<li>Sliding animations when scrolling through pages</li>
		<li>Animations for the posting options (on appearance and mouseover)</li>
		<li>Drag and drop image reordering</li>
		<li>Drag and drop page reordering</li>
		<li class="maybe">Community tagging</li>
		<li>A wiki linked to each tag</li>
		<li class="maybe">@ messaging functionality</li>
		<li>Username-based user profile URLs</li>
		<li>Notifications</li>
		<li>Thumbnail view</li>
		<li>Ability to follow tags</li>
		<li class="maybe">Private/direct messaging or chatting</li>
		<li class="maybe">User "online" status display</li>
		<li class="maybe">Themes</li>
	</ul>
</div>