<% provide(:title, "Home") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<!-- <div class="module">
	<h3 class="heading">Top tags</h3>
</div> -->
<%= render 'shared/posting_form' %>
<% if @feed_statuses.any? %>
	<div class="module">
		<h3 class="heading">Latest from your followed users:</h3>
		<ol class="status-list">
			<%= render @feed_statuses %>
		</ol>
	</div>
<% end %>

<!--  <div class="module">
	<h3 class="heading">Rankings</h3>
</div> -->