<% provide(:title, "Home") %>
<div class="module">
	<h3 class="heading">Find your favorites</h3>
	<p class="note">Browse fandoms by media!</p>
</div>
<div class="module">
	<h3 class="heading">Top tags</h3>
</div>
<div class="module">
	<h3 class="heading">Latest works</h3>
</div>
<div class="module">
	<h3 class="heading">Rankings</h3>
</div>