<% provide(:title, "How to support this website") %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice"><%= alert %></p>
<% end %>
<h2 class="heading">How to support this site</h2>
<div class="explanation">
	<p>To support this site:</p>
	<ol>
		<li>1. (Optional) You can create an account. This is not required.</li>
		<li>2. Posting your drawings or writings on the site, if you have any, is probably the best way to create more interest.</li>
		<li>3. Share these works on other places like reddit and Discord.</li>
	</ol>
</div>