@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	font-family: Lucida Grande;
	line-height: 1.286;
}

p {
	line-height: 1.5;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

div {
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}
div#main {
	padding: 0.5em 2.5em 3.5em;
}

label {
	font-weight: inherit;
	margin-bottom: 0;
}
a, a:link {
	text-decoration: none;
	color: #900;
}
a:hover {
	color: #999;
}
.landmark {
	font-size: 0;
	line-height: 0;
	height: 0;
	margin: 0;
	clear: both;
	color: transparent;
	opacity: 0;
}

/* header */
.top-header {
	margin-bottom: 1em;
	overflow: hidden;
	border-width: 0 0 1px;
}
.clear:after {
    clear: both;
    content: "";
    display: table;
}
h1.heading {
	padding: 0.375em;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0.875em;
	float: left;
}
a#logo, a:link#logo, a:visited:hover#logo {
	color: #900;
	text-decoration: none;
	font-size: 1.714em;
	line-height: 1.25em;
	font-family: Georgia,serif;
}
#greeting {
	float: right;
}
ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
ul.user-navigation-actions a {
	display: inline;
}
ul.primary-navigation {
	display: block;
	float: right !important;
	list-style: none;
	background: #900 url(asset-path('skins/textures/tiles/red-ao3.png'));
	box-shadow: inset 0 -6px 10px rgba(0,0,0,.35), 1px 1px 3px -1px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.85);
    width: 100%;
    font-size: 100%;
    overflow: hidden;
    a {
    	color: rgb(255,255,255);
    	padding: 0.429em 0.75em;
    }
    li {
    	float: left
    }
}

/* Navigation modules */
.module {
	margin-bottom: 1.571em;
}
div.module h3.heading {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(200,200,200);
	color: rgb(153,0,0);
	font-family: Georgia,serif;
	font-weight: 400;
	margin-top: 0.5375em;
}

/* Account forms */
.submission {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
div.submission-form form {
	h3.heading {
		font-family: Georgia-serif;
		font-weight: 400;
	}
	legend {
		border-bottom: none;
	}
	.form-input-box {
		background: #ddd;
		border: 2px solid #f3efec;
		margin: .643em;
		padding: .643em;
		box-shadow: inset 1px 0 5px #999;

		ul.form-inputs {
			list-style: none;
			padding-left: 0;
		}

		li.form-element {
			overflow: hidden;
			display: block;
		}

		div.form-label {
			float: left;
			clear: left;
			width: 25%;
			padding: .25em .5625em 0 0;
		}
		div.field label {
			width: 100%;
			border-bottom: 1px solid #f3efec;
		}
		div.form-input {
			overflow: hidden;
			float: left;
			margin: .643em 0;
			width: 72.5%;
		}
		div.field input, textarea {
			width: 100%;
			font: 100% 'Lucida Grande', 'Lucida Sans Unicode', 'GNU Unifont', Verdana, Helvetica, sans-serif;
			border: 1px solid #bbb;
			box-shadow: inset 0 1px 2px #ccc;
		}
		div.field input.pages {
			width: 4em;
		}
		div.field textarea {
			min-height: 12em;
		}
		div.field input[type="checkbox"] {
			width: auto;
			margin: 3px 3px 3px 4px;
		}
		div.field input[type="file"] {
			width: auto;
		}
		div.field select {
			width: 100%;
		}
		div.actions {
			text-align: right;
			padding: .429em .25em .25em 0;
			width: 72.5%;
			margin-left: auto;
			input {
				width: auto;
				padding: .25em .75em;
				height: auto;
				line-height: 1.286;
				border-bottom: 1px solid #aaa;
				box-shadow: none;
				background-image: -webkit-linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
				border: 1px solid #bbb;
			}
		}
	}
}

/* Flash messages */
p.notice, div#error_explanation {
	margin-top: 40px;
	margin-bottom: -10px;
	margin-left: auto;
	margin-right: auto;
	padding: .25em .375em;
	border: 1px solid #c2d2df;
	border-radius: .25em;
	border-color: #900;
	color: #900;
	background: #efd1d1;
	box-shadow: 1px 1px 2px;
	width: 90%;
	margin: .643em auto;
	ul {
		list-style: none;
	}
}

/* Normal display */
.action-menu {
	overflow: hidden;
}
ul.actions {
	list-style: none;
	padding-top: 0;
	padding-bottom: 0;
	float: right;
	text-align: center;
	li {
		display: inline;
		padding-left: .25em;
		a {
			color: #444;
			background: #eee;
			line-height: 1.286;
			vertical-align: middle;
			display: inline-block;
			padding: .25em .75em;
			white-space: nowrap;
			overflow: visible;
			position: relative;
			cursor: pointer;
			border: 1px solid #bbb;
			background-image: linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
			border-radius: .25em;
			margin: .375em auto;
			font-size: 1.08em;
		}
		a:hover {
			color: #900;
			border-top: 1px solid #999;
			border-left: 1px solild #999;
			box-shadow: inset 2px 2px 2px #bbb;
		}
	}
}
ul.page-actions {
	float: right;
}
div.info-wrapper {
	box-shadow: 1px 1px 5px #aaa;
	div.info-display {
		border: 1px solid #ccc;
		clear: right;
		padding: 1.286em .75em;
		position: relative;
		overflow: hidden;
		ul {
			list-style: none;
			padding-left: 0;
		}
		div.info-label {
			min-width: 10.5em;
			width: 25%;
			float: left;
			clear: left;
		}
		div.info {
			width: 72.5%;
			float: left;
			margin: 0 0 .643em;
			a {
				color: #111;
				line-height: 1.5;
				text-decoration: none;
				padding: 0;
				border-bottom: 1px dotted;
			}
			a:visited {
				color: #666;
				text-decoration: none;
				border-bottom: 1px dashed;
			}
			ul li {
				float: left;
				margin: 0 .375em auto 0;
				white-space: nowrap;
				padding-right: .5em;
			}
		}
	}
}
div.preface {
	margin: 1.5em 3em;
	padding: .643em .643em 0;
	font-size: 1.08em;
	h2.heading {
		text-align: center;
	}
	h3 {
		margin: .5375em 0;
		line-height: 1;
		font-size: 1.2859275em;
	}
	h3.byline {
		text-align: center;
	}
	h3.heading {
		border-bottom: 1px solid;
	}
	blockquote {
		border: 0;
		font-size: 1em;
	}
}

.comic-display {
	overflow-x: auto;
	overflow-y: hidden;
}
.page-preface {
	border-top: 1px solid;
}
.page-indicator {
	font-size: 1.286em;
	margin: .5375em 0;
	font-weight: 400;
	line-height: 1;
	text-align: center;
}
.page-display {
	align-items: center;
	justify-content: center;
	display: flex;
	margin-bottom: 5%;
}
.normal-display {
	max-width: 95%;
	max-height: 95vh;
	display: block;
	margin: 0 5px;
}
.arrow {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	display: block;
}
.arrow-right {
	border-left: 15px solid #000;
}
.non-arrow-right {
	border-left: 15px solid transparent;
}


.arrow-left {
	border-right: 15px solid #000; 
}
.non-arrow-left {
	border-right: 15px solid transparent; 
}

/* Summary displays */
.drawing-list {
	list-style: none;
	li {
		display: inline-block;
		text-align: center;
		margin: 24px 12px;
		p {
			margin-bottom: 0;
		}
		ul {
			padding-left: 0;
			list-style: none;
			li {
				display: list-item;
				margin: 0;
			}
		}
	}
}
.summary-display {
	max-width: 200px;
	max-height: 200px;
	display: inline-block;
}

/* User page */
.show_user {
	text-align: right;
	border-bottom: 2px solid;
	display: block;
	font-size: 2.143em;
	line-height: 1;
	margin: .429em 0;
}
.listbox {
	clear: right;
	background: #ddd;
	border: 2px solid #ccc;
	padding: 0;
	margin: .643em auto;
	overflow: hidden;
	box-shadow: 0 0 0 1px #fff;
	h3 {
		margin: 0;
		color: #2a2a2a;
		padding: .25em;
		font-size: 1.2859275em;
	}
	ul {
		width: auto;
		padding: .643em;
		float: none;
		clear: right;
		background: #fff;
		boxshadow: inset 1px 1px 3px #bbb;
		margin: 0;
	}
}